<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Musicat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Musicat.Properties.Settings>
            <setting name="OptionsSize" serializeAs="String">
                <value>488, 319</value>
            </setting>
            <setting name="OptionsLoc" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="OptionMusicatUseHierarchy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormLoc" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>820, 615</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Musicat.Properties.Settings>
    </userSettings>
</configuration>